.conteudo {
    background: blue; 
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
.conteudo1 {
    background: rgb(255, 0, 0); 
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
.clear{
    clear: left; /* limpa o efeito do float*/
}